<a href="https://colab.research.google.com/github/alfonsocude/Probability/blob/main/03-Parcial_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Recuerda que una vez abierto, Da clic en "Copiar en Drive", de lo contrario no podras almancenar tu progreso**

Nota: no olvide ir ejecutando las celdas de código de arriba hacia abajo para que no tenga errores de importación de librerías o por falta de definición de variables.

In [14]:
!wget --no-cache -O init.py -q https://raw.githubusercontent.com/alfonsocude/Probability/master/init.py
import init; init.init(force_download=False); 
from IPython.display import Image

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statistics as stats
from collections import Counter

## **Problema**
Considere la siguiente base de datos

### **Clientes Banco Alemán**

Trabajemos ahora con la base de datos de clientes que han solicitado créditos del banco alemán.

In [23]:
banco = pd.read_csv('local/data/german_credit_data.csv')
#banco = banco.dropna()
banco.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad

1. Determine cuáles variables son cualitativas y cuantitativas, las cualitativas clasificarlas en ordinales o nomiles según sea el caso. (observación: Obviar la variable 'Unnamed: 0')

2. Realizar la tabla de frecuencia para datos desagrupados o agrupados dependiendo de el tipo de variable.

3. Graficar el diagrama de barras para las variables cualitativas y el histograma para las variables cuantitativas.

4. Calcular las medidas de tendencia central, medidas de dispersión, cuartiles, mínimo y máximo de cada variable cuantitativa.

5. Construir el diagrama de box-plot para cada variable cuantitativa.

En base a los calulos realizados previamente, responder las siguientes preguntas.

6. En términos de edades, ¿cuál es el rango de edad que tiene la mayoría de clientes del banco?

7. ¿Cuál es el procentaje de clientes que tienen mal hábito de pago con respecto a las obligaiones que adquieron con el banco?

8. Complete el siguiente código para determinar los clientes que pagan más interés al banco, en términos de duración del préstamo y monto solicitado al banco. Justifique su respuesta.

In [ ]:
banco[(banco['Duration'] ...) & (banco[...]...) ]

9. Los clientes que cumplen con las anteriores dos características son los que generan mayor ganancia al banco. Describa este tipo de clientes. Si el banco necesita incrementar el número de clientes con la descripción dada por usted previamente, ¿qué tipo de acciones tomaría para que esto suceda?