<a href="https://colab.research.google.com/github/alfonsocude/Probability/blob/main/05-PCorte_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Recuerda que una vez abierto, Da clic en "Copiar en Drive", de lo contrario no podras almancenar tu progreso**

Nota: no olvide ir ejecutando las celdas de código de arriba hacia abajo para que no tenga errores de importación de librerías o por falta de definición de variables.

In [2]:
!wget --no-cache -O init.py -q https://raw.githubusercontent.com/alfonsocude/Probability/master/init.py
import init; init.init(force_download=False); 
from IPython.display import Image

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statistics as stats
from collections import Counter

## **Problema**
Considere la siguiente base de datos

### **Clientes Banco Alemán**

Trabajemos ahora con la base de datos de clientes que han solicitado créditos del banco alemán.

In [25]:
banco = pd.read_csv('local/data/german_credit_data.csv')
banco.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad

### **Responda las siguientes preguntas en base a los datos previos**
Todos los calculos debe realizarlos utiliando Python, en caso contrario el punto no es válido.

1. Complete el siguiente código para determinar la probabilidad de que los clientes del banco sean mujeres.

In [ ]:
P_M = len(banco[banco['Sex'] == ...]) / banco.shape[0]
P_M

2. A partir del punto 1. ¿cuál es la probabilidad de que un cliente del banco sea hombre?

In [ ]:
P_H = ...

Analicemos la variable 'Purpose'

In [ ]:
P_purpose = []

for i in banco['Purpose'].unique():
    P_purpose.append(len(banco[banco['Purpose'] == i]) / banco.shape[0])

prob_purpose = {banco['Purpose'].unique()[j] : P_purpose[j] for j in range(len(banco['Purpose'].unique()))}
prob_purpose

Determinemos la proporción de hombres que destinan el dinero a cada una de las categorias para el préstamo solicitado.

In [ ]:
male_purpose = []

for i in banco['Purpose'].unique():
    male_purpose.append(banco[(banco['Sex'] == 'male') & (banco['Purpose'] == i)].shape[0])
male_purpose = np.array(male_purpose) / banco.shape[0]
male_purpose

3. Utilizando un código similar al anterior determinar la probabilidad de que el cliente sea mujer y destine el prestamo a cada uno de los artículos registrados en la base de datos. (Recuerde que la suma de probabiliadades de hombres y mujeres debe ser igual a 1).

4. Con la anterior construcción de probabilidades, determine la probabilidad de que se compre cada una de las categorias de la columna 'Purpose' dado que el cliente es una mujer.

5. Determine la probabilidad de que el cliente sea mujer dado que compró un carro.